/* Write your CSS here */
.Vaccination-by-gender-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: #1c1c2b;
  padding: 20px;
  width: 90%;
  margin: 20px;
}
.vaccination-by-gender-heading {
  color: #cbd5e1;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 500;
}
